body { background: linear-gradient(180deg, #041022 0%, #071129 100%); -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
a{color:inherit;text-decoration:none}
.container{padding-left:1rem;padding-right:1rem}
